<h1>Lazy Loading App</h1>

<ul>
  <li>
    <a routerLink="/auth/login">Login</a>
  </li>
  <li>
    <a routerLink="/auth/password">Password</a>
  </li>
  <li>
    <a routerLink="/auth/register">Register</a>
  </li>
</ul>

<ul>
  <li>
    <a routerLink="/products/add">Add</a>
  </li>
  <li>
    <a routerLink="/products/edit">Edit</a>
  </li>
  <li>
    <a routerLink="/products/list">List</a>
  </li>
  <li>
    <a routerLink="/products/product">Product</a>
  </li>
</ul>

<ul>
  <li>
    <a routerLink="/users/edit">Edit</a>
  </li>
  <li>
    <a routerLink="/users/list">List</a>
  </li>
  <li>
    <a routerLink="/users/new">New</a>
  </li>
  <li>
    <a routerLink="/users/user">User</a>
  </li>
</ul>

<router-outlet></router-outlet>